@import url('https://fonts.googleapis.com/css?family=Play');

#brand {
  font-family: Play;
}

#cover {
  text-align: center;
  background-color: #fff;
  font-family: Play, sans-serif;
  padding-left: 20%;
  padding-right: 20%;
}
